.hline{
	position: relative;
	margin-top: 50px;
}

.btn{
	float: right;
	position: relative;
	font-size: 20px;
	border-radius: 5px;
}

.table{
	display: block;
	margin-top: 200px;
}

.table_head{
	width: 200px; 
	text-align: left;
}
.form {
	visibility: hidden;
	background-color: coral;
	overflow: auto;
	position: relative;
}
.drop_down{
	position: absolute;
        left: 50%;
}
.input_wizard{
	position: absolute;
        left: 50%;
}
.wizard_form_btn{
	position: absolute;
        left: 50%;
}
