.btnform{
	float:middle;
	margin-bottom: 30px;
	display: inline-block
}	
.btn{
	position: relative;
	font-size: 20px;
	border-radius: 5px;
}


.table{
	margin-top: 30px;
	border: 1px solid black;
}

.table_head{
	width: 200px; 
	text-align: left;
	/*border: 1px solid black;*/
	background-color: #E8E8E8;
}
.table_body{
	border: 1px solid black;
}
td{
	border: 1px solid black;
}


.wizard_form {
	visibility: hidden;
	background-color: coral;
	overflow: auto;
	position: relative;
	height: 112px;
}
.drop_down{
	position: absolute;
        left: 50%;
}
.input_wizard{
	position: absolute;
        left: 50%;
}
.wizard_form_btn{
	position: absolute;
        left: 50%;
}

.form-control{
    border: 2px solid black;
    margin: 5px;
    border-radius: 5px;
}
span{
	visibility: hidden;
}
